<header class="bg-white">
  <nav class="navbar navbar-expand-lg shadow p-0">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
        <button class="navbar-toggler border-0 p-0 outline-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
          <img src="images/menu-icon.svg" alt="">
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
          <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0" id="menu">
            <li class="nav-item me-lg-3">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item me-lg-3">
              <a class="nav-link" href="about-us.html">About</a>
            </li>
            <li class="nav-item me-lg-3">
              <a class="nav-link service-btn" href="javascript:void(0);" role="button">
                Services
                <img src="images/arrow-down.svg" alt="">
              </a>
              <ul class="dropdown-menu row align-items-start">
                <li class="col-lg-6 dropdown-list mb-3">
                  <div class="dropdown-item text-capitalize mb-2 pb-2 border-bottom" href="javascript:void(0);">Cloud Services</div>
                  <ul>
                    <li><a href="devops.html">DevOps</a></li>
                    <li><a href="secops.html">SecOps</a></li>
                    <li><a href="javascript:void(0);">Consultation & Migrations</a></li>
                    <li><a href="obervability-Monitoring.html">Observability & Monitoring Solutions</a></li>
                    <li><a href="manageService.html">Managed services</a></li>
                    <li><a href="Incident-Management.html">Incident Management</a></li>
                  </ul>
                </li>
                <li class="col-lg-6 dropdown-list mb-3">
                  <div class="dropdown-item text-capitalize mb-2 pb-2 border-bottom" href="javascript:void(0);">IT services</div>
                  <ul>
                    <li><a href="javascript:void(0);">Custom IT Services</a></li>
                    <li><a href="javascript:void(0);">Networking</a></li>
                    <li><a href="javascript:void(0);">O365 & SharePoint</a></li>
                    <li><a href="javascript:void(0);">Gsuite Gmail Support </a></li>
                  </ul>
                </li>
                <li class="col-lg-6 dropdown-list mb-3">
                  <div class="dropdown-item text-capitalize mb-2 pb-2 border-bottom" href="javascript:void(0);">BPO/KPO</div>
                  <ul>
                    <li><a href="javascript:void(0);">Solutions for Fintech</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <button class="btn btn-primary d-lg-block d-none" type="submit">Contact Us</button>
        </div>
        <button class="btn btn-primary fixed-bottom rounded-0 py-2 d-block d-lg-none" type="submit">Contact Us</button>
      </div>
  </nav>
</header>